body {
    background-color: #8b8589;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

tbody {
    font-family: monaco, Consolas, Lucida Console, monospace;
}

td {
    cursor: pointer;
}

td,
th {
    padding: 15px 20px !important;
    vertical-align: middle !important;
}

@media (min-width: 1366px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

.one-line {
    white-space: nowrap;
}

.clamped {
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    max-height: 800px;
    flex: 0 0 auto;
}

#app {
    display: block;
    flex: 0 1 auto;
    overflow-y: scroll;
}
