body {
    background-color: #000000;
}

.gray {
    color: #555555;
}

html,
body,
#mount {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code-font {
    font-family: monaco, Consolas, Lucida Console, monospace;
}

td,
th {
    padding: 15px 20px !important;
    vertical-align: middle !important;
}

@media (min-width: 1366px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

.text-larger {
    font-size: 24px;
}

.one-line {
    white-space: nowrap;
}

.clamped {
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    max-height: 750px;
    flex: 0 0 auto;
}

#table-card {
    display: block;
    flex: 0 1 auto;
    overflow-y: auto;
}

.center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}
/* 
#mount {
    background: rgba(0, 0, 100, 0.5);
} */

#intro-container {
    padding: 100px 0;
    color: #ffffff;
    width: 60%;
    min-width: 800px;
    background: rgba(0, 0, 0, 0.7);
    border: solid white;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
